<IfModule mod_setenvif.c>
  SetEnvIf Request_URI "^/_nuxt/" tatitotu_immutable_asset=1
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "public, max-age=31536000, immutable" env=tatitotu_immutable_asset
</IfModule>
